.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.board {
  align-self: center;
  flex-wrap: wrap;
  outline: white solid 1px;
  width: 500px;
  height: 500px;
  margin: 2em;
  &__cell {
    outline: black solid 1px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 7rem;
  }
}

.button {
  padding: 2px;
  width: 90px;
  flex: 0 0 auto;
}

.msg-window {
  position: absolute;
  margin-top: 8.5em;
  padding: 5em;
  justify-self: center;
  align-self: center;
  z-index: 1;
  background: rgba($color: white, $alpha: 0.7);
  outline: black solid 1px;
  &__button-container {
    gap: 8px;
    justify-content: center;
    margin-top: 2em;
  }
}

.player-bar {
  justify-content: space-around;
  &__player-field {
  }
  &__player-form {
    gap: 8px;
  }
  &__entry-box {
    width: 11em;
  }
  &__set-name-button {
    margin-right: 2em;
  }
  &__name-plate {
    margin: 0 2em;
    font-family: sans-serif;
    &--active {
      transform: scale(1.5);
    }
  }
}
